/*!*.header {*!*/
/*!*    background: #007bff;*!*/
/*!*    border: none;*!*/
/*!*}*!*/
/*.userbox .name {*/
/*    color: #fff;*/
/*}*/
/*.userbox .custom-caret:before {*/
/*    content: "\f107";*/
/*    color: #fff;*/
/*}*/
/*.sidebar-left .sidebar-header .sidebar-toggle {*/
/*    background-color: #003C71;*/
/*    color:#C3C3C3;*/
/*}*/
/*html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-toggle i {*/
/*    color: #C3C3C3;*/
/*}*/

/*html.no-overflowscrolling .sidebar-left .nano {*/
/*    background: #003C71;*/
/*    -webkit-box-shadow: -5px 0 0 #2F3139 inset;*/
/*    box-shadow: -5px 0 0 #2F3139 inset;*/
/*}*/
/*.sidebar-left {*/
/*    background: #003C71;*/
/*    z-index: 1010;*/
/*}*/
/*html.sidebar-light:not(.dark) .sidebar-left .nano {*/
/*    -webkit-box-shadow: -5px 0 0 #003C71 inset;*/
/*    box-shadow: -5px 0 0 #003C71 inset;*/
/*    background: #003C71;*/
/*}*/
/*html.no-overflowscrolling.sidebar-light:not(.dark) .sidebar-left .nano {*/
/*    background: #003C71;*/
/*    -webkit-box-shadow: -5px 0 0 #003C71 inset;*/
/*    box-shadow: -5px 0 0 #003C71 inset;*/
/*}*/
/*html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-title {*/
/*    background: #003C71;*/
/*}*/
/*html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-toggle {*/
/*    background: #003C71;*/
/*}*/

/*ul.nav-main li a {*/
/*    display: block;*/
/*    color: #abb4be;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*    font-size: 12.8px;*/
/*    font-size: 0.8rem;*/
/*}*/
/*!*html.sidebar-light:not(.dark) ul.nav-main li a {*!*/
/*!*    color: #abb4be;*!*/
/*!*}*!*/
/*html.sidebar-light:not(.dark) ul.nav-main > li.nav-active > a {*/
/*    color: #fff !important;*/
/*}*/

/*ul.nav-main li .nav-children {*/
/*    background: #082844;*/
/*    -webkit-box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;*/
/*    box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;*/
/*    display: none;*/
/*    padding: 10px 0;*/
/*}*/
/*html.sidebar-light:not(.dark) ul.nav-main li .nav-children {*/
/*    background: #082844;*/
/*    -webkit-box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.1) inset;*/
/*    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.1) inset;*/
/*}*/

/*ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {*/
/*    background-color: #2fb70d;*/
/*    color: #fff;*/
/*}*/

/*html.sidebar-light:not(.dark) ul.nav-main > li.nav-expanded > a:hover {*/
/*    background: #2fb70d;*/
/*    color: #fff;*/
/*}*/
/*html.sidebar-light:not(.dark) ul.nav-main > li > a:hover, html.sidebar-light:not(.dark) ul.nav-main > li > a:focus {*/
/*    background-color: #2fb70d;*/
/*    color: #fff;*/
/*}*/
/*html.sidebar-light:not(.dark) ul.nav-main li .nav-children li a:hover, html.sidebar-light:not(.dark) ul.nav-main li .nav-children li a:focus {*/
/*    background: #003c71;*/
/*    color: #fff;*/
/*}*/

/*html.sidebar-light:not(.dark) ul.nav-main > li.nav-expanded > a {*/
/*    background: #2fb70d;*/
/*    color: #fff;*/
/*}*/
/*html.no-overflowscrolling .nano > .nano-pane > .nano-slider {*/
/*    background: #2fb70d;*/
/*}*/

/*ul.nav-main li .nav-children li.nav-active > .nav-link {*/
/*    color: #fff;*/
/*    background: #003c71;*/
/*}*/


/*@media only screen and (max-width: 767px){*/
/*    .header .logo-container .logo {*/
/*        line-height: 0px;*/
/*    }*/
/*    .header .logo-container {*/
/*        background: #007bff;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 550px){*/
/*    .switch.switch-sm .ios-switch {*/
/*        width: 95px;*/
/*        float: right;*/
/*        margin-top: 14px;*/
/*    }*/
/*    .header .header-right {*/
/*        text-align: center;*/
/*    }*/
/*}*/

/*.card {*/
/*    width: 100%;*/
/*}*/
/*html body #tabs .nav-tabs .nav-link, html.dark body .tabs .nav-tabs .nav-link, html body .tabs .nav-tabs .nav-link:hover, html.dark body .tabs .nav-tabs .nav-link:hover {*/
/*    color: #0088CC !important;*/
/*}*/
/*html body #tabs .nav-tabs li.active .nav-link, html.dark body .tabs .nav-tabs li.active .nav-link {*/
/*    border-top-color: #0088CC !important;*/
/*    color: #0088CC !important;*/
/*}*/


ul.nav-main li.nav-active:not(.nav-parent) > a, ul.nav-main li .nav-children li.nav-active:not(.nav-parent) > a {
    background:#67c23a;
    color: #fff !important;
    box-shadow: none;
    border-radius: 4px !important;
}
html.fixed.sidebar-ligth-blue .sidebar-left a:hover, html.fixed.sidebar-ligth-blue .sidebar-left a:active, html.fixed.sidebar-ligth-blue .sidebar-left a:focus {
    color: #fff !important;
    background-color: #67c23a;
}
ul.nav-main > li.nav-active > a {
    box-shadow: 2px 0 0 #ffffff inset;
}
ul.nav-main li .nav-children li a {
    position: relative;
    margin: 0 15px;
    padding: 10px 15px 10px 48px;
    border-radius: 6px;
    margin-bottom: 0;
    transition: none;
}
ul.nav-main li .nav-children {
    display: none;
    padding: 10px 0px 0px 15px;
    border-radius: 0;

    /*margin: 1px 17px;*/
    /*border-radius: 0px 0px 10px 10px;*/
}

@media only screen and (max-width: 767px) {
    #main-wrapper {
        padding-top: 0;
    }
    .youtube{
        display: none;
    }
    .header .header-right {
        float: none !important;
    }
    #main-wrapper {
        padding-top: 0px !important;
    }
}


/*=========PEDIDOS RESTAURANTE=======*/


.kanban-aqp{
    background:#e3e4e5;
    border-radius: 8px;
}

.kanban-aqp .icon{
    font-size: 32px;
}

.kanban-aqp .title{
    font-size: 2em;
}

.recibido-aqp{
    color: #fff;
    background: #f53f3f
}

.enviado-aqp{
    color: #fff;
    background: #ffa500
}

.entregado-aqp{
    color: #fff;
    background: #14c508;
}
