.bg-green {
    background-color: var(--f7-color-bluemagenta);
}
.bg-blue {
  background-color: var(--f7-color-bluemagenta);
}
.bg-dark-blue {
  background-color: var(--f7-color-bluemagenta);
}
.bg-purple {
  background-color: var(--f7-color-bluemagenta);
}
